<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}
  {{ style('style') }}
</head>
<body>
  @include('nav')
  <main class="main">
    @!section('content') 
  </main>
  {{ script('https://code.jquery.com/jquery-3.4.1.slim.min.js') }}
  {{ script('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js') }}
  {{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js') }} 
  <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
  <script>
 
  $('.revealPassword').on('click', function() {
    let input = $(this).parent().parent().find('input')
    let i = input.attr('type')
    if (i === 'password') {
        input.attr('type', 'text')
      } else {
        input.attr('type', 'password')


      }
  })
  $('.copyClipboard').on('click', function() {
    let input = $(this).parent().parent().find('input')
    let i = input.attr('type')
    if (i === 'password') {
        input.attr('type', 'text')
        input.select()
        document.execCommand('copy')
        input.blur()
        input.attr('type', 'password')
      } else {
        input.select()
        document.execCommand('copy')
        input.blur()
      }

  })

  function searchList() {
  // Declare variables
  var input, filter, ul, span, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("passwordUl");
  span = ul.getElementsByTagName('span');

  // Loop through all spanst items, and hide those who don't match the search query
  for (i = 0; i < span.length; i++) {
    a = span[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      span[i].style.display = "";
    } else {
      span[i].style.display = "none";
    }
  }
}
  </script>
</body>
</html>
