<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}
  {{ style('style') }}
</head>
<body>
  @include('nav')
  <main class="main">
    @!section('content') 
  </main>
  {{ script('https://code.jquery.com/jquery-3.4.1.slim.min.js') }}
  {{ script('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js') }}
  {{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js') }} 

  <script>
 
  $('.revealPassword').on('click', function() {
    let input = $(this).parent().parent().find('input')
    let i = input.attr('type')
    if (i === 'password') {
        input.attr('type', 'text')
        $(this).text('Hide')
      } else {
        input.attr('type', 'password')
        $(this).text('Show')


      }
  })
  $('.copyClipboard').on('click', function() {
    let input = $(this).parent().parent().find('input')
    let i = input.attr('type')
    if (i === 'password') {
        input.attr('type', 'text')
        input.select()
        document.execCommand('copy')
        input.blur()
        input.attr('type', 'password')
      } else {
        input.select()
        document.execCommand('copy')
        input.blur()
      }

  })
  </script>
</body>
</html>
