@layout('master')

@section('content')
<div class="container-fluid pt-5">
    <h1 class="text-center">openPass</h1>
    <p class="text-center">A simple, secure <strong>free, open source</strong> password manager</p>
    <div class="row">

        <div class="col-4 mx-auto">
          @!include('components.cards.registration')
        </div>
    </div>
</div>
@endsection